@font-face {
  font-family: greatest;
  src: url(font/Hind-Semibold.ttf);
}

@font-face {
  font-family: greatests;
  src: url(font/Hind-Light.ttf);
}

@font-face {
  font-family: greatest-regular;
  src: url(font/Hind-Regular.ttf);
}

@font-face {
  font-family: greatest-bold;
  src: url(font/Hind-Bold.ttf);
}

@font-face {
  font-family: greatest-medium;
  src: url(font/Hind-Medium.ttf);
}

.p-2 {
  font: 16px "greatest-medium" !important;
  color: black !important;
}

.p-2:hover {
  color: red !important;
}

.img-size {
  height: 90px;
  padding: 0px !important;
}

.img-icon {
  height: 20px;
}

.img-icon_three {
  height: 70px;
}

.padding-spec {
  padding-top: 150px;
  padding-bottom: 140px;
}

.active {
  border-bottom: 2.5px solid red;
}

.metier-underline {
  border-bottom: 2px solid red;
  line-height: 28px;
}

.nounderline {
  text-decoration: none !important;
}

.jumbo1 {
  height: 70vh;

  color: black;
  background-color: white;
  background-image: url(img/jumbo-home.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.jumbo-import {
  background:
       /* top, transparent red, faked with gradient */ linear-gradient(
      rgba(244, 67, 54, 0.1),
      rgba(244, 67, 54, 0.1)
    ),
    /* bottom, image */ url(img/import.jpg);
  height: 70vh;

  background-attachment: fixed;
  */background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  /* height: 70vh;

  color: black;
  background-color: white;
  background-image: url(img/import.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; */
}

.jumbo-consignation {
  background:
       /* top, transparent red, faked with gradient */ linear-gradient(
      rgba(244, 67, 54, 0.1),
      rgba(244, 67, 54, 0.1)
    ),
    /* bottom, image */ url(img/consii.jpg);
  height: 70vh;

  background-attachment: fixed;
  */background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.jumbo-terminal {
  background:
       /* top, transparent red, faked with gradient */ linear-gradient(
      rgba(244, 67, 54, 0.1),
      rgba(244, 67, 54, 0.1)
    ),
    /* bottom, image */ url(img/propos03.jpg);
  height: 80vh;

  background-attachment: fixed;
  */background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.jumbo-logistique {
  background:
       /* top, transparent red, faked with gradient */ linear-gradient(
      rgba(244, 67, 54, 0.1),
      rgba(244, 67, 54, 0.1)
    ),
    /* bottom, image */ url(img/third.jpg);
  height: 70vh;

  background-attachment: fixed;
  */background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  /* height: 70vh;

  color: black;
  background-color: white;
  background-image: url(img/logistique.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; */
}

.jumbo-transit {
  background:
       /* top, transparent red, faked with gradient */ linear-gradient(
      rgba(244, 67, 54, 0.1),
      rgba(244, 67, 54, 0.1)
    ),
    /* bottom, image */ url(img/transit.jpg);
  height: 70vh;

  background-attachment: fixed;
  */background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  /* height: 70vh;

  color: black;
  background-color: white;
  background-image: url(img/transit.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; */
}

.text-consi {
  padding-top: 40px;
  padding-bottom: 60px;
}

.jumbo2 {
  background:
       /* top, transparent red, faked with gradient */ linear-gradient(
      rgba(244, 67, 54, 0.1),
      rgba(244, 67, 54, 0.1)
    ),
    /* bottom, image */ url(img/PAC-52.jpg);
  height: 60vh;

  background-attachment: fixed;
  */background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.jumbo-propos-1 {
  background:
       /* top, transparent red, faked with gradient */ linear-gradient(
      rgba(244, 67, 54, 0.1),
      rgba(244, 67, 54, 0.1)
    ),
    /* bottom, image */ url(img/allada.jpg);
  height: 65vh;

  background-attachment: fixed;
  */background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.jumbohome2 {
  color: black;
  background-color: white;
  /* background-image: url(img/port.jpg); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
}

.jumbohome3 {
  /* height: 60vh; */

  color: black;
  background-color: white;
  background-image: url(img/consii.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
}

.jumbohome4 {
  /* height: 60vh; */

  color: black;
  background-color: white;
  background-image: url(img/transit.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
}

.jumbohome5 {
  /* height: 60vh; */

  color: black;
  background-color: white;
  background-image: url(img/propos03.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
}

.jumbohome6 {
  /* height: 60vh; */

  color: black;
  background-color: white;
  background-image: url(img/third.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
}

.jumbohome7 {
  /* height: 60vh; */

  color: black;
  background-color: white;
  background-image: url(img/propos02.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
}

.jumbohome70 {
  /* height: 60vh; */
  color: black;
  background-color: white;
  background-image: url(img/propos02.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
}

.jumbohome30 {
  height: 90vh;
  color: black;
  background-color: white;
  background-image: url(img/propos04.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.jumbohome50 {
  height: 60vh;

  color: black;
  background-color: white;
  background-image: url(img/import.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
}

.bg-div-6 {
  opacity: 0.69;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: red;
  color: #fff;
}

.bg-div-6-propos {
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  color: black;
}

.text-propos0 {
  padding-top: 60px;
  color: #757575;
  font: 28px "greatest-medium";
}

.text-list {
  color: black;
  font: 18px "greatests";
}

.text-jumbotron-inside-card {
  color: #fff;
  margin-top: 40px;
  font: 30px "greatest-bold";
}

.valeur {
  color: #fff;
  margin-top: 40px;
  font: 27px "greatests";
}

.text-jumbotron-inside-card0 {
  color: #fff;
  font: 18px "greatest-medium";
  line-height: 1.7;
  text-align: justify;
}

.text-jumbotron-inside-card001 {
  color: #fff;
  font: 25px "greatest-bold";
  line-height: 1.7;
  text-align: justify;
}

#p-2:hover {
  color: red !important;
}

.jumbo3 {
  color: black;
  background-color: #e0e0e0;
  /* background-image: url(img/port.jpg); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.padding-top {
  padding: 100px 50px;
}

.btn-outline-primary {
  border: 1px solid #fff !important;
  color: #fff;
  /* padding-left: 30px;
  padding-right: 30px; */
}

.text-jumbotron {
  color: #fff;
  font: 45px "greatest-bold";
}

.text-jumbo {
  color: #455a64;
  font: 16px "greatests";
  text-align: justify;
}

.propos-padding {
  padding-top: 60px;
  padding-bottom: 40px;
}

.text-jumbotron12 {
  color: #fff;
  font: 40px "greatest-bold";
}

.text-jumbotron0 {
  color: #9e9e9e;
  margin-top: 30px;
  font: 40px "greatest-bold";
}

.text-jumbotron1 {
  color: #616161;
  font: 16px "greatests";
  text-align: justify;
}

.img-third {
  position: relative;
  top: 120px;
}

.text-div-2 {
  color: #fff;
  font-size: 30px;
  position: relative;
  left: 15px;
}

.div2-top {
  position: relative;
  bottom: 50px;
}

@media (max-width: 600px) {
  .img-third {
    position: relative !important;
    right: 0px !important;
    top: 0px !important;
  }

  .center-nav2 {
    display: none !important;
  }

  .center-nav {
    margin-top: 30px !important;
    padding-bottom: 30px !important;
  }

  .img-size {
    padding-bottom: 20px !important;
  }
}

.subtitle-content00 {
  margin-top: 20px;
}

.subtitle-content {
  margin-top: 80px;
}

hr {
}

.jumbo-container {
  height: 100%;
}

.home-title {
  font: 50px "greatest-bold";
  color: #fff;
}

.center-nav {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: auto;
  text-align: center;
}

.center-nav2 {
  position: absolute;
  left: 20;
  margin-right: 30px;
  right: 0;
}

.footer-border-top {
  border-top: 10px solid red;
}

#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {
  opacity: 0.7;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content,
#caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/* The Close Button */
.close {
  position: absolute;
  top: 95px;
  right: 95px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }

  .close {
    position: absolute !important;
    top: 365px !important;
    right: 35px !important;
    color: #f1f1f1 !important;
    font-size: 40px !important;
    font-weight: bold !important;
    transition: 0.3s !important;
  }
}

.padding-service {
  padding-top: 150px;
  padding-bottom: 90px;
}

.service-text-1 {
  font-size: 30px;
}

.form-select0 {
  font-size: 30px;
}

.padding-form {
  padding-top: 30px;
  padding-bottom: 40px;
}

.title-div-2 {
  font-size: 20px;
  border-bottom: 2px solid black;
}

.title-div-3 {
  font-size: 40px;
  padding-top: 35px;
  color: #757575;
}

.padding-div-title {
  padding-bottom: 30px;
}

.padding-small-bottom {
  padding-top: 30px;
}

.atral-text {
  position: relative;
  top: 7px;
}

.text-jumbotron2 {
  color: #fff;
  font: 50px "greatest-bold";
  margin-left: 45px;
}

.text-jumbotron2_ {
  color: #fff;
  font: 50px "greatest-bold";
  margin-left: 45px;
  position: relative;
  bottom: 15px;
}

.padding-div-import {
  padding-top: 50px;
  padding-bottom: 80px;
}

.title-import {
  font-size: 30px;
}

.div2-bg {
  background-color: #9e9e9e;
  color: #fff;
}

.chiffre {
  font: 30px "greatest-bold";
  color: #9e9e9e;
}

.img-small {
  height: 100px;
}

.dropdown-toggle:hover > .dropdown-menu {
  display: block;
}

.dropdown-menu {
  /* background-color: #e7eef7; */
}

.dropdown-item {
  cursor: pointer;
  font-size: 14px;
  color: black;
}

.text-paragraph {
  font: 16px "greatests";
  color: #455a64;
  text-align: justify;
}

.dropdown-menu {
  width: 13rem !important;
}

.dropdown-item {
  padding-top: 13px;
}

.dropdown-item:active,
.dropdown-item:focus,
.dropdown-item:hover {
  border: none !important;
  outline: none !important;
  background-color: #eeeeee !important;
}
a {
  text-decoration: none !important;
}

.text-- {
  font: 17px "greatest-bold";
}

.text-muted {
  font: 16px "greatests";
}

.text-ul {
  padding-top: 30px;
}

.quotation-text {
  font: 30px "greatest-medium";
  color: #455a64;
}

.quotation-text1 {
  font: 15px "greatests";
}

.text-universum {
  font: 15px "greatest-bold";
  color: gray;
}

a,
u {
  /* text-decoration: none !important; */
}

.icon-ok {
  font-size: 14px !important;
}

.voila {
  width: 200px;
  height: 200px;
}

/* tell the container's children to float left: */
.float-my-children > * {
  float: left;
  margin-right: 5px;
}

/* this is called a clearfix. it makes sure that the container's children floats are cleared, without using extra markup */

.clearfix {
  *zoom: 1; /* for IE */
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

/* end clearfix*/

/* below is just to make things easier to see, not required */

/* tell the container's children to float left: */
.float-my-children > * {
  float: left;
  margin-right: 25px;
}

/* this is called a clearfix. it makes sure that the container's children floats are cleared, without using extra markup */

.clearfix {
  *zoom: 1; /* for IE */
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: inline-block;
}

.clearfix:after {
  clear: both;
}

/* end clearfix*/

/* below is just to make things easier to see, not required */

.propos-text-1 {
  font: 18px "greatests";
  color: #bdbdbd !important;
}

.propos-text-2 {
  font: 18px "greatest-medium";
  color: #757575 !important;
}

.propos-text-3 {
  font: 16px "greatest-regular";
  color: #757575 !important;
}

.text-upside {
  font: 25px "greatest-regular";
  color: #212121 !important;
}

.text-upside2 {
  font: 16px "greatests";
  color: #757575 !important;
}

.padding-team {
  padding-top: 40px !important;
  padding-bottom: 80px !important;
}

.margin_div {
  margin-top: 20px;
}

/*CONTACT PART*/

.content-header {
  font: 45px "greatests";
  color: #fff;
}

.contact-text {
  font: 1px greatest;
}

.section-content {
  text-align: center;
}

#contact {
  height: 550px;
  padding-top: 60px;
  color: #fff;

  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #e0e0e0, red);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #9e9e9e, red);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.contact-section {
  padding-top: 40px;
}

.contact-section .col-md-6 {
  width: 50%;
}

.form-line {
  border-right: 1px solid #fff;
}

.form-group {
  margin-top: 10px;
}

label {
  font-size: 1.3em;
  font-weight: normal;
  line-height: 1em;
}

textarea.form-control {
  height: 135px;
  /* margin-top: px;
    */
}

.submit {
  float: right;
  width: 150px;
  font-size: 1.1em;
  color: #fff;
  border: 1px solid #fff;
  background-color: transparent;
}

.padding-video {
  padding-top: 60px;
  padding-bottom: 60px;
}

.label-style {
  font: 16px "greatests";
}

.profile {
  border-radius: 100px;
  width: 200px;
  height: 200px;
}












.block {
  height: 5em;
  line-height: 5em;
  width: 10em;
  background: #464646;
  color: #fdfdfd;
  text-align: center;
  margin: 1em auto;
  text-shadow: 0 0 1px #333; /* so one can see fadeBgColor properly */
}

.animatable {

  /* initially hide animatable objects */
  visibility: hidden;

  /* initially pause animatable objects their animations */
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -ms-animation-play-state: paused;
  -o-animation-play-state: paused;
  animation-play-state: paused;
}

/* show objects being animated */
.animated {
  visibility: visible;

  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;

  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;

  -webkit-animation-play-state: running;
  -moz-animation-play-state: running;
  -ms-animation-play-state: running;
  -o-animation-play-state: running;
  animation-play-state: running;
}

/* CSS Animations (extracted from http://glifo.uiparade.com/) */
@-webkit-keyframes fadeInDown {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-20px);
	}	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
	}
}

@-moz-keyframes fadeInDown {
	0% {
		opacity: 0;
		-moz-transform: translateY(-20px);
	}

	100% {
		opacity: 1;
		-moz-transform: translateY(0);
	}
}

@-o-keyframes fadeInDown {
	0% {
		opacity: 0;
		-o-transform: translateY(-20px);
	}

	100% {
		opacity: 1;
		-o-transform: translateY(0);
	}
}

@keyframes fadeInDown {
	0% {
		opacity: 0;
		transform: translateY(-20px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}



@-webkit-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	20% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-moz-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	20% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-o-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	20% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	60% {
		opacity: 0;
	}
	20% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@-webkit-keyframes bounceInLeft {
	0% {
		opacity: 0;
		-webkit-transform: translateX(-2000px);
	}
	60% {
		-webkit-transform: translateX(20px);
	}

	80% {
		-webkit-transform: translateX(-5px);
	}

	100% {
		opacity: 1;
		-webkit-transform: translateX(0);
	}
}

@-moz-keyframes bounceInLeft {
	0% {
		opacity: 0;
		-moz-transform: translateX(-2000px);
	}

	60% {
		-moz-transform: translateX(20px);
	}

	80% {
		-moz-transform: translateX(-5px);
	}

	100% {
		opacity: 1;
		-moz-transform: translateX(0);
	}
}

@-o-keyframes bounceInLeft {
	0% {
		opacity: 0;
		-o-transform: translateX(-2000px);
	}

	60% {
		opacity: 1;
		-o-transform: translateX(20px);
	}

	80% {
		-o-transform: translateX(-5px);
	}

	100% {
		opacity: 1;
		-o-transform: translateX(0);
	}
}

@keyframes bounceInLeft {
	0% {
		opacity: 0;
		transform: translateX(-2000px);
	}

	60% {
		transform: translateX(20px);
	}

	80% {
		transform: translateX(-5px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}
@-webkit-keyframes bounceInRight {
	0% {
		opacity: 0;
		-webkit-transform: translateX(2000px);
	}

	60% {
		-webkit-transform: translateX(-20px);
	}

	80% {
		-webkit-transform: translateX(5px);
	}

	100% {
		opacity: 1;
		-webkit-transform: translateX(0);
	}
}

@-moz-keyframes bounceInRight {
	0% {
		opacity: 0;
		-moz-transform: translateX(2000px);
	}

	60% {
		-moz-transform: translateX(-20px);
	}

	80% {
		-moz-transform: translateX(5px);
	}

	100% {
		opacity: 1;
		-moz-transform: translateX(0);
	}
}

@-o-keyframes bounceInRight {
	0% {
		opacity: 0;
		-o-transform: translateX(2000px);
	}

	60% {
		-o-transform: translateX(-20px);
	}

	80% {
		-o-transform: translateX(5px);
	}

	100% {
		opacity: 1;
		-o-transform: translateX(0);
	}
}

@keyframes bounceInRight {
	0% {
		opacity: 0;
		transform: translateX(2000px);
	}

	60% {
		transform: translateX(-20px);
	}

	80% {
		transform: translateX(5px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}
@-webkit-keyframes fadeInUp {
	0% {
		opacity: 0;
		-webkit-transform: translateY(20px);
	}	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
	}
}

@-moz-keyframes fadeInUp {
	0% {
		opacity: 0;
		-moz-transform: translateY(20px);
	}

	100% {
		opacity: 1;
		-moz-transform: translateY(0);
	}
}

@-o-keyframes fadeInUp {
	0% {
		opacity: 0;
		-o-transform: translateY(20px);
	}

	100% {
		opacity: 1;
		-o-transform: translateY(0);
	}
}

@keyframes fadeInUp {
	0% {
		opacity: 0;
		transform: translateY(20px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
@-webkit-keyframes bounceIn {
	0% {
		opacity: 0;
		-webkit-transform: scale(.3);
	}
	50% {
		-webkit-transform: scale(1.05);
	}

	70% {
		-webkit-transform: scale(.9);
	}

	100% {
		opacity: 1;
		-webkit-transform: scale(1);
	}
}

@-moz-keyframes bounceIn {
	0% {
		opacity: 0;
		-moz-transform: scale(.3);
	}

	50% {
		-moz-transform: scale(1.05);
	}

	70% {
		-moz-transform: scale(.9);
	}

	100% {
		opacity: 1;
		-moz-transform: scale(1);
	}
}

@-o-keyframes bounceIn {
	0% {
		opacity: 0;
		-o-transform: scale(.3);
	}

	50% {
		-o-transform: scale(1.05);
	}

	70% {
		-o-transform: scale(.9);
	}

	100% {
		opacity: 1;
		-o-transform: scale(1);
	}
}

@keyframes bounceIn {
	0% {
		opacity: 0;
		transform: scale(.3);
	}

	50% {
		transform: scale(1.05);
	}

	70% {
		transform: scale(.9);
	}

	100% {
		opacity: 1;
		transform: scale(1);
	}
}
@-webkit-keyframes moveUp {
	0% {
		opacity: 1;
		-webkit-transform: translateY(40px);
	}	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
	}
}

@-moz-keyframes moveUp {
	0% {
		opacity: 1;
		-moz-transform: translateY(40px);
	}

	100% {
		opacity: 1;
		-moz-transform: translateY(0);
	}
}

@-o-keyframes moveUp {
	0% {
		opacity: 1;
		-o-transform: translateY(40px);
	}

	100% {
		opacity: 1;
		-o-transform: translateY(0);
	}
}

@keyframes moveUp {
	0% {
		opacity: 1;
		transform: translateY(40px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@-webkit-keyframes fadeBgColor {
	0%{
		background:none;
	}
  70%{
		background:none;
	}
	100%{
		background:#464646;
	}
}
@-o-keyframes fadeBgColor {
	0%{
		background:none;
	}
  70%{
		background:none;
	}
	100%{
		background:#464646;
	}
}
@keyframes fadeBgColor {
	0%{
		background:none;
	}
  70%{
		background:none;
	}
	100%{
		background:#464646;
	}
}

.animated.animationDelay{
	animation-delay:.4s;
	-webkit-animation-delay:.4s;
}
.animated.animationDelayMed{
	animation-delay:1.2s;
	-webkit-animation-delay:1.2s;
}
.animated.animationDelayLong{
	animation-delay:1.6s;
	-webkit-animation-delay:1.6s;
}
.animated.fadeBgColor {
	-webkit-animation-name: fadeBgColor;
	-moz-animation-name: fadeBgColor;
	-o-animation-name: fadeBgColor;
	animation-name: fadeBgColor;
}
.animated.bounceIn {
	-webkit-animation-name: bounceIn;
	-moz-animation-name: bounceIn;
	-o-animation-name: bounceIn;
	animation-name: bounceIn;
}
.animated.bounceInRight {
	-webkit-animation-name: bounceInRight;
	-moz-animation-name: bounceInRight;
	-o-animation-name: bounceInRight;
	animation-name: bounceInRight;
}
.animated.bounceInLeft {
	-webkit-animation-name: bounceInLeft;
	-moz-animation-name: bounceInLeft;
	-o-animation-name: bounceInLeft;
	animation-name: bounceInLeft;
}
.animated.fadeIn {
	-webkit-animation-name: fadeIn;
	-moz-animation-name: fadeIn;
	-o-animation-name: fadeIn;
	animation-name: fadeIn;
}
.animated.fadeInDown {
	-webkit-animation-name: fadeInDown;
	-moz-animation-name: fadeInDown;
	-o-animation-name: fadeInDown;
	animation-name: fadeInDown;
}
.animated.fadeInUp {
	-webkit-animation-name: fadeInUp;
	-moz-animation-name: fadeInUp;
	-o-animation-name: fadeInUp;
	animation-name: fadeInUp;
}
.animated.moveUp {
	-webkit-animation-name: moveUp;
	-moz-animation-name: moveUp;
	-o-animation-name: moveUp;
	animation-name: moveUp;
}

.div_grab{
  padding-top: 140px;
}







@media only screen and (max-width: 600px) {
  .home-title {
    font: 30px "greatest-bold" !important;
    color: #fff !important;
    margin-top: 20px !important;
  }

  .videoWrapper {
  	position: relative;
  	padding-bottom: 56.25%; /* 16:9 */
  	padding-top: 25px;
  	height: 0;
  }
  .videoWrapper iframe {
  	position: absolute;
  	top: 0;
  	left: 0;
  	width: 300px !important;
  	height: 200px !important;
  }
}
